# Expo / React Native
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

# Caches
.metro-cache
.npm/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro & debug
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
*.pem

# Environment Variables
.env
.env.*

# typescript
*.tsbuildinfo
app-example/
